# .env file for frontend configuration (vite uses VITE_ prefix for environment variables)
# use if you doesn't want use docker-compose and want to run frontend with npm start or yarn start
VITE_API_BASE_URL=http://localhost:3000/api