# Configuration BDD
DB_HOST=db
DB_PORT=3306
DB_NAME=ssl_monitor_db
DB_USER=ssl_user
DB_PASSWORD=mon_password_ultra_secure
DB_ROOT_PASSWORD=root_password_global

# Configuration SMTP pour les emails d'alerte
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=votre_user
SMTP_PASS=votre_pass
# Email de l'administrateur pour recevoir les alertes (sera utilisé si aucun destinataire actif n'est trouvé dans la base)
ADMIN_EMAIL=change-me@email.com
EMAIL_FROM=ssl-monitor@email.com


# Express server port
PORT=3000
API_BASE_URL='http://localhost:3000/api';

#Auth
JWT_SECRET=votre_jwt_secret_key
JWT_EXPIRES_IN=24h